.download-table-xls-button {
    background-color: rgb(15, 93, 15);
    height: 50px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: white;
    border-radius: 10px;
}

.login-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 5px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background: #37474f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background: #263238;
  }
  